<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "meta" . }}
<body>
  {{ partial "navbar.html" . }}
  <div id="content">
    {{ block "main" . }}{{ end }}
  </div>
  {{ partial "footer.html" . }}
</body>

</html>