{{ with .Site.Data.cursusSection }}
{{ if .enable }}
<section class="section cursus" id="cursus">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="cursus__header mb-5">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="cursus-item-grid">
          {{ range (where $.Site.RegularPages "Type" "cursus").Reverse }}
          <div class="cursus-item">
            <a class="see-more-btn" href="{{ .Permalink }}">
            <img src="{{ .Params.thumbnail }}" class="cursus-item-thumb" alt="cursus-thumb" />
            <div class="cursus-item-content">
              <span>{{ .Params.service }}</span>
              <h3 class="mb-1">
                {{  .Title | plainify }}
              </h3>
              En savoir plus</a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}