{{ with .Site.Data.realisationsSection }}
{{ if .enable }}
<section class="section realisations" id="realisations">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="realisations__header mb-5">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="realisations-item-grid">
          {{ range (where $.Site.RegularPages "Type" "realisations").Reverse }}
          <div class="realisations-item">
            <a class="see-more-btn" href="{{ .Permalink }}">
            <img src="{{ .Params.thumbnail }}" class="frame-browser realisations-item-thumb" alt="realisations-thumb" />
            <div class="realisations-item-content">
              <span>{{ .Params.service }}</span>
              <h3 class="mb-0">
                {{ .Title | safeHTML }}
              </h3>
              See details</a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}